#mainNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 28px;
  z-index: 1;
  padding: 2px 8px;
  border: 1px solid;
}

/* #mainNavigation * {
  margin-left: 20px;
  margin-right: 20px;
  padding: 2px 14px 6px 14px;
  border: 1px solid ;
} */

/* #region Main */

/* #openLeftMenu img{
}
#backToMain */

.nav-menu-back-wrap .nav-icon {
  margin-right: 8px;
}

.nav-icon {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

/* #endregion */

/* #region Left menu */

#left-menu {
  position: fixed;
  top: 0;
  left: calc(-100vw - 16px);
  transition: 350ms;
  margin: 0;
  padding: 4px 6px;
  height: 100vh;
  z-index: 1;
  width: 100vw;
}

#left-menu.active {
  left: 0;
  transition: 500ms;
}

.left-menu-container {
  position: relative;
  margin: 0;
  padding: 6px;
}

#closeLeftAtBottom {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.menu-user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.menu-avatar {
  width: 26px;
  height: 26px;
  border-radius: 22px;
  padding: 4px;
  margin-top: 6px;
  margin-right: 6px;
  text-align: center;
}

.menu-avatar .letter {
  font-size: 18px;
  margin-top: -1px;
}

.menu-user-subcontainer {
  display: inline-block;
}

.menu-username {
  font-weight: 550;
}

.menu-userlevel {
  font-size: 14px;
  text-transform: capitalize;
}

.menu-userlevel span {
  font-weight: 550;
}

.left-menu-item {
  cursor: pointer;
  transition: 0.6s;
}

.pick-theme-item label {
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}

/* #endregion */

/* #region  Pick Theme */
.pickTheme-container{
  padding: 2px 16px;
}

.pickTheme-item{
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid;
  border-radius: 16px;
  margin: 8px 0px;
  padding: 4px 12px;
}

/* #endregion */