.mainNavigation {
  height: 28px;
  z-index: 1;
  padding: 2px 8px;
  border-top: 1px solid;
  position: relative;
}

/* #region  Default */
.menu-items-container{
  margin-top: 10px;
  padding-left: 4px;
}
.navIcon{
  display: inline-block;
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  margin-right: 9px;
}

.pick-theme-item{
  display: block;
  color: var(--dark);
}
/* #endregion */

/* #region Main */

.nav-menu-back-wrap .nav-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.menu-text{
  font-size: 17px;
}
.nav-icon {
  width: 27px;
  height: 27px;
  cursor: pointer;
}


.naviFreeSpace{
  flex-grow: 1;
}
#arrows-icon{
  position: absolute;
  right: 2px;
  top: -16px;
  height: 56px;
  width: 56px;
  opacity: 0.2;
}

@media (max-width: 640px) {
  .mainNavigation{
    height: 40px;
  }
}

/* #endregion */

/* #region Left menu */

#left-menu {
  position: fixed;
  top: 0;
  left: calc(-100vw - 16px);
  transition: 350ms;
  margin: 0;
  padding: 4px 6px;
  height: 100vh;
  z-index: 1;
  width: 100vw;
}

#left-menu.active {
  left: 0;
  transition: 500ms;
}

.left-menu-container {
  position: relative;
  margin: 0;
  padding: 6px;
}
#closeLeftAtBottom {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 100%;
}
#closeLeftAtBottom .nav-icon{
  display: block;
  margin: -1px;
}

.menu-user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.menu-avatar {
  width: 26px;
  height: 26px;
  border-radius: 22px;
  padding: 4px;
  margin-top: 6px;
  margin-right: 6px;
  text-align: center;
}

.menu-avatar .letter {
  font-size: 18px;
  margin-top: -1px;
}

.menu-user-subcontainer {
  display: inline-block;
}

.menu-username {
  font-weight: 550;
}

.menu-userlevel {
  font-size: 14px;
  text-transform: capitalize;
}

.menu-userlevel span {
  font-weight: 550;
}

.left-menu-item {
  cursor: pointer;
  transition: 0.6s;
}

.pick-theme-item label {
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}

@media (max-width: 640px) {
  .nav-menu-back-wrap{
    height: 40px;
    align-items: center;
  }
  .nav-menu-back-wrap .nav-icon{
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .nav-menu-back-wrap .currModeLabels{
    font-size: 18px;
  }
  .menu-text{
    font-size: 22px;
  }
  .navIcon{
    width: 18px;
    height: 18px;
  }
}
/* #endregion */

/* #region  Theme menu*/

.pickTheme-container {
  padding: 2px 16px;
  /* max-width: 200px; */
}

.pickTheme-item {
  cursor: pointer;
  border: 1px solid;
  border-radius: 16px;
  margin: 8px 0px;
  padding: 4px 12px;
}

.back-icon-container{
  width: 26px;
  height: 26px;
  padding: 4px;
  margin-top: 6px;
  margin-right: 6px;
  opacity: 0.8;
}
.back-icon-container:hover{
  opacity: 1;
}

/* #endregion */

/* #region  LangNav */

.lang-nav .pickTheme-item {
  text-transform: capitalize;
}

/* #endregion */

/* #region  Mode */

.currModeLabels {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modeSwitch {
  padding: 8px;
}

.modeSwitch .currentMode {
  margin: 0 0 16px 0;
  padding-left: 8px;
  font-size: 1em;
  font-weight: normal;
}

.modeSwitch .title {
  margin: 0 0 0px 0;
  font-size: 1.1em;
  font-weight: 560;
}

.modeSwitch .subtitle {
  margin: 4px 0;
  font-size: 0.9em;
}

.modeSwitch .modeType {
  padding: 12px;
  margin-right: 12px;
  margin: 12px auto;
  border-top: 1px solid;
  border-radius: 1px;
}

.modeButton {
  padding: 7px 10px;
  margin: 12px 8px;
  font-size: 17px;
}

.myMarks {
  padding: 7px 12px;
  margin: -7px 0;
}

.drawModeButton {
  display: flex;
  flex-wrap: wrap;
}

.drawModeButton .nav-icon {
  margin-right: 8px;
}

.tagModeButton {
  padding: 4px 8px 2px 8px;
}

.tagModeButton .bigHashtag {
  font-size: 32px;
  margin-right: 6px;
}

.tagModeButton .tagContent {
  font-size: 17px;
}

/* #endregion */

/* #region  About */

.aboutPage {
  min-height: calc(100vh - 32px);
  padding: 14px 20px;
}

.aboutPage p {
  margin: 0;
}

.aboutPage h5 {
  border-bottom: 1px solid;
  padding: 8px 10px;
  font-size: 1em;
  margin: 14px 0 21px 0;
}

.aboutPage .version {
  font-size: 0.9em;
  font-family: monospace;
}

/* #endregion */