body {
  padding: 0;
  margin: 0;
}

/* #root {
  background-color: black;
  color: antiquewhite;
} */

.map-container {
  /* height: calc(100vh - 24px); */
  /* height: calc(100vh - 100px); */
  height: 100vh;
  /* margin-top: 14px; */
}

.map-container {
  height: calc(100vh - 34px);
}

.routeWrapper {
  z-index: 2;
  min-width: 100vw;
  /* min-height: calc(100vh - 30px); */
}

/* #region  Global */
.readonly{
  opacity: 0.75;
  pointer-events: none;
}
/* #endregion */