.toastStack {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20px;
  right: 10px;
  z-index: 4;
  transition: all 3s ease-in;
  height: auto;
  max-height: 60%;
  overflow-x: auto;
}

.toast {
  position: relative;
  top: 0;
  margin-top: 4px;
  width: min(260px, 70vw);
  border: 1px solid;
  border-radius: 2px;
  padding: 4px 2px;
  transition: all 1s ease;
}

.toast.show {
  transition: all 3s ease-in;
}

.toast.slideUp {
  top: -100vh;
  margin-top: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header h6 {
  font-size: 1.2em;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 4px 0 12px;
  width: calc(100% - 30px - 16px);
}

.header p {
  font-size: 1em;
  display: inline-block;
  margin: 0 4px 0 12px;
  width: calc(100% - 30px - 16px);
}

.header .closeCross {
  font-size: 1.8em;
  display: inline-block;
  width: 24px;
  font-size: 22px;
  margin: -6px 2px 0 4px;
}

.content {
  padding: 0px 8px;
}
