.mainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.featureContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding: min(1vw, 12px);
  padding-top: 14px;
  border: 1px solid;
  z-index: 2;
}

.closeFeature {
  position: absolute;
  border-radius: 1px;
  border: 1px solid;
  border-left: none;
  right: -27px;
  top: -1px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 6px;
  font-size: 16px;
}

.mapboxgl-ctrl-geocoder {
  border: 1px solid var(--secondary)
}

.mapboxgl-ctrl-geocoder input {
  border: none !important;
}

.mapboxgl-ctrl-geocoder--input {
  z-index: 0;
  max-width: 240px;
  max-height: 50px;
}

@media (max-width:640px) {
  .mapboxgl-ctrl-geocoder--input {
    z-index: 0;
    max-width: 200px;
    max-height: 32px;
    font-size: 0.9em;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    margin-top: -8px;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: -1px !important;
  }
}

/* #region  Featurer */

.featurer {
  margin: 0;
}

.featurer>* {
  margin: 0 4px 2px 4px;
}

.featurer .rateAmount {
  font-weight: initial;
}

.featurer .rateValue {
  font-size: 1em;
  font-size: 0.95em;
  font-weight: 480;
}

.featurer .rateNumber {
  font-weight: bold;
}

.featureNameWrap {
  text-align: right;
}

.featurerGreetings {
  margin: -6px 16px 6px 4px;
}

.featureName {
  border: 5px double;
  border-radius: 6px;
  display: inline-block;
  margin: 0 0 6px 0;
  padding: 3px 8px;
  font-size: 1em;
  min-width: 180px;
  text-align: center;
}

input.featureName {
  cursor: help;
  border: 4px dotted;
}

input.featureName::placeholder {
  font-size: 0.9em;
}

/* #endregion */

/* #region  Rater */

.rater {
  margin-bottom: 16px;
}

.starButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 1px 4px;
}

.starButton:hover {
  border: none;
}

span.star {
  display: inline-block;
  width: 20px;
  height: 26px;
  font-size: 20px;
}

.rater .starRating {
  margin: 0 4px 2px 4px;
  display: inline-block;
  font-weight: 501;
}

.hoverValue {
  margin-right: 8px;
  cursor: default;
  font-weight: 600;
}

.starsAndRating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 4px;
}

.stars {
  width: 160px;
  margin-top: 20px;
}

.starsAndRating.noRating .stars {
  margin: 5px 0;
}

/* .rating{
  width: 80px;
} */

.ratingAmount {
  width: 55px;
  border: 1px solid;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 1.35em;
  text-align: center;
}

.ratingAmount span {
  font-size: 0.8em;
}

.ratingAmount sub {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: 2px;
  padding: 0 2.5px;
  font-size: 14px;
}

.raterBtnContainer {
  text-align: right;
  padding: 0 4px;
  margin-bottom: -6px;
}

.raterBtnContainer button {
  margin: 0;
}

.raterBtnContainer .subtitle {
  font-size: 0.95em;
  opacity: 0.9;
}

/* Comment */

.raterComment {
  /* margin: 0; */
  /* width: calc(100% - min(3vw, 36px)); */
  width: 89%;
}

.suggContainer {
  padding: 2px 4px;
  margin: 4px 3px -2px 6px;
  /* border: 1px solid; */
  border-radius: 1px;
  /* font-size: .7em; */
}

.sugg {
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: .75em;
}

/* #endregion */

/* #region  Legend */

.mapLegend {
  position: fixed;
  bottom: 46px;
  right: 12px;
  padding: min(0.5vw, 8px) min(1vw, 12px);
  border: 1px solid;
}
.ratingDescription{
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.ratingDescription>* {
  padding: 0px 10px;
}

.ratingUnitsWrap {
  display: flex;
  justify-content: space-between;
  padding: 0 min(1vw, 8px);
  margin-top: -6px;
}

.ratingUnit {
  display: inline-block;
}

.ratingColor {
  display: inline-block;
  width: 32px;
  height: 6px;
}

.ratingGradientWrap {
  padding: 0 min(1vw, 8px);
}

.ratingGradient {
  height: 4px;
}

@media (max-width:640px) {
  .mapLegend {
    bottom: 52px;
    right: 4px;
    padding: 4px;
  }
  .ratingDescription {
    font-size: 0.9em;
    padding: 0 6px;
  }
  .ratingDescription>* {
    margin: 0px 3px;
  }
  .ratingUnitsWrap {
    justify-content: space-between;
    margin: -9px 0 0 0;
    padding: 0 3px;
  }
  .ratingUnit {
    margin: 0 2px;
  }
  .ratingColor {
    width: 32px;
    height: 4px;
  }
  .ratingGradientWrap{
    padding: 0 5px;

  }
}

/* #endregion */

/* #region  Reviews */

.reviewsContainer {
  max-height: 240px;
  overflow-y: auto;
  padding: 6px;
  -moz-transition: max-height .5s;
  -ms-transition: max-height .5s;
  -o-transition: max-height .5s;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
}

.reviewWrap {
  border: 1px solid;
  border-radius: 1px;
  padding: 2px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}

.authorLogo {
  width: 32px;
  height: 32px;
  margin: 4px;
  text-align: center;
  border-radius: 32px;
}

.authorLogo span {
  position: relative;
  top: 3px;
}

.reviewBody {
  padding: 2px;
  margin-left: 4px;
  position: relative;
  width: calc(100% - 50px);
}

.reviewBody p {
  margin: 0 4px;
}

.reviewComment {
  padding: 2px 0px;
}

.reviewDate {
  position: absolute;
  right: 4px;
  top: 6px;
  font-size: 0.8em;
}

.reviewStars {
  margin-left: 6px;
}

.skipperContainer {
  position: absolute;
  bottom: -15px;
  right: -4px;
  width: 32px;
}

.skipper {
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid;
  cursor: pointer;
}

.skipper span {
  font-size: 1.8em;
  margin-top: -8px;
  display: inline-block;
}

.reviewsContainer.shrinked {
  max-height: 22px;
}

.reviewRating {
  margin: 0 4px;
}

.reviewRating .starButton {
  padding: 0.5px;
  cursor: inherit;
}

/* #endregion */

/* #region  Scrollbar */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: var(--light);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* #endregion */

/* #region  Control */

/* .mapbox-gl-draw_polygon{
  background-image: url(http://localhost:3000/icons/edit-pen.svg);
  background-color: red;
} */

.controlButton {
  position: fixed;
  right: 2px;
  top: 48px;
  z-index: 1;
  padding: 7px 10px;
  border: 1px solid;
  border-radius: 6px;
}

/* .controlButton svg{
  width: 24px;
  height: 24px;
  margin-top: 3px;
} */

.controlPrompt {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 4px dotted;
  border-radius: 3px;
  opacity: 0.9;
}

.controlPrompt p {
  margin-top: 0;
  font-size: 14px;
  padding: 0 4px;
}

.controlPrompt h6 {
  margin: 8px;
  font-size: 16px;
}

/* #endregion */