/* Light */

.mp-light {
  color: #e6e4e0;
}

.mp-bg-light {
  background-color: #e6e4e0;
}

.mp-light-hover:hover {
  color: #e6e4e0;
}

.mp-light-bg-hover:hover {
  color: #e6e4e0;
}

.mp-border-light {
  border-color: #e6e4e0;
}

.mp-shadow-light {
  box-shadow: #e6e4e0 2px 2px 4px;
}

/* Dark */

.mp-dark {
  color: #555;
}

.mp-bg-dark {
  background-color: #555;
}

.mp-dark-hover:hover {
  color: #555;
}

.mp-dark-bg-hover:hover {
  color: #555;
}

.mp-border-dark {
  border-color: #555;
}

.mp-shadow-dark {
  box-shadow: #555 2px 2px 4px;
}

/* Accent */

.mp-accent {
  color: #ffc900;
}

.mp-bg-accent {
  background-color: #ffc900;
}

.mp-accent-hover:hover {
  color: #ffc900;
}

.mp-accent-bg-hover:hover {
  color: #ffc900;
}

.mp-border-accent {
  border-color: #ffc900;
}

/* Primary */

.mp-primary {
  color: aliceblue;
}

.mp-bg-primary {
  background-color: aliceblue;
}

.mp-primary-hover:hover {
  color: aliceblue;
}

.mp-primary-bg-hover:hover {
  color: aliceblue;
}

.mp-border-primary {
  border-color: aliceblue;
}

::placeholder {
  color: aliceblue;
}

/* Secondary */

.mp-secondary {
  color: #b3b0ae;
}

.mp-bg-secondary {
  background-color: #b3b0ae;
}

.mp-secondary-hover:hover {
  color: #b3b0ae;
}

.mp-secondary-bg-hover:hover {
  color: #b3b0ae;
}

.mp-border-secondary {
  border-color: #b3b0ae;
}

/* Counter */

.mp-counter {
  color: #3e69db;
}

.mp-bg-counter {
  background-color: #3e69db;
}

.mp-counter-hover:hover {
  color: #3e69db;
}

.mp-counter-bg-hover:hover {
  color: #3e69db;
}

.mp-border-counter {
  border-color: #3e69db;
}