:Standart theme{
  --primary: #05304a;
  --secondary: #b6c8d6;
  --accent: #1bbc00;
  --light: #e6e4e0;
  --dark: #494949;
  --counter: #2d8bcf;
}
:Dark {
  --primary: #BB86FC;
  --secondary: #392452;
  --accent: #03DAC6;
  --light: #383736;
  --dark: #d8d8d8;
  --counter: #e4d737;
}
:BW {
  --primary: #444444;
  --secondary: #747474;
  --accent: #676767;
  --light: #ffffff;
  --dark: #000000;
  --counter: #616161;
}
:blueprint{
  --primary: #f0a2de;
  --secondary: #c9abca;
  --accent: #e9eb7d;
  --light: #34568b;
  --dark: #ffffff;
  --counter: #9affd5;
}


colors i like {
  minty: #bfffc8;
  yellish: #eeff00;
}