:root{
  --primary: aliceblue;
  --secondary: #b3b0ae;
  --accent: #ffc900;
  --light: #e6e4e0;
  --dark: #555;
  --counter: #3e69db;
}
/* Light */

.mp-light {
  color: var(--light);
}

.mp-bg-light {
  background-color: var(--light);
}

.mp-light-hover:hover {
  color: var(--light);
}

.mp-bg-light-hover:hover {
  background-color: var(--light);
}

.mp-border-light {
  border-color: var(--light);
}

.mp-shadow-light {
  box-shadow: var(--light) 2px 2px 4px;
}

/* Dark */

.mp-dark {
  color: var(--dark);
}

.mp-bg-dark {
  background-color: var(--dark);
}

.mp-dark-hover:hover {
  color: var(--dark);
}

.mp-bg-dark-hover:hover {
  background-color: var(--dark);
}

.mp-border-dark {
  border-color: var(--dark);
}

.mp-shadow-dark {
  box-shadow: var(--dark) 2px 2px 4px;
}

/* Accent */

.mp-accent {
  color: var(--accent);
}

.mp-bg-accent {
  background-color: var(--accent);
}

.mp-accent-hover:hover {
  color: var(--accent);
}

.mp-bg-accent-hover:hover {
  background-color: var(--accent);
}

.mp-border-accent {
  border-color: var(--accent);
}


/* Primary */

.mp-primary {
  color: var(--primary);
}

.mp-bg-primary {
  background-color: var(--primary);
}

.mp-primary-hover:hover {
  color: var(--primary);
}

.mp-bg-primary-hover:hover {
  background-color: var(--primary);
}

.mp-border-primary {
  border-color: var(--primary);
}

::placeholder {
  color: var(--primary);
}

/* Secondary */

.mp-secondary {
  color: var(--secondary);
}

.mp-bg-secondary {
  background-color: var(--secondary);
}

.mp-secondary-hover:hover {
  color: var(--secondary);
}

.mp-bg-secondary-hover:hover {
  background-color: var(--secondary);
}

.mp-border-secondary {
  border-color: var(--secondary);
}

/* Counter */

.mp-counter {
  color: var(--counter);
}

.mp-bg-counter {
  background-color: var(--counter);
}

.mp-counter-hover:hover {
  color: var(--counter);
}

.mp-bg-counter-hover:hover {
  background-color: var(--counter);
}

.mp-border-counter {
  border-color: var(--counter);
}