.searchContainer{
  display: flex;
}

.searchContainer .backButton {
  display: inline-block;
}

.searchButton {
  display: inline-block;
  /* height: 30px; */
}

.searchButton .button {
  min-width: 36px;
  margin-left: 0;
}

.searchButton svg {
  position: absolute;
  left: 9px;
  width: 18px;
  height: 18px;
}