.cityItem {
  display: flex;
  gap: 8px;
  min-width: 100px;
  height: 100%;
  border: 1px solid var(--secondary);
  padding: 8px 10px;
}

.geojsonPreview {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

.cityDetails {
  padding: 4px;
}

.cityName {
  color: var(--accent);
  font-weight: 500;
  margin: 0;
  max-width: 25vw;
  font-size: 20px;
}

.cityRating {
  margin: 10px 0 10px 24px;
}

@media (max-width: 640px) {
  .cityItem {
    width: 100%;
    justify-content: space-between;
  }
  .cityRating{
    float: right;
  }
  .cityName {
    max-width: unset;
  }
}
